:host {
  display: block;
  padding: 8px 0;
  height: 100%;
  overflow: scroll;
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: rgba(black, 0.3);
    }
  }
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
  @media (hover: none) {
    overflow: scroll;
  }
}
