$color-black-4: rgba(0, 0, 0, 0.04);
$color-black-12: rgba(0, 0, 0, 0.12);
$color-black-87: rgba(0, 0, 0, 0.87);
$color-black-54: rgba(0, 0, 0, 0.54);
$color-primary: #3f51b5;

%smallNavRadius {
  border-radius: 20px;
  width: 40px;
  left: 16px;
}

.sideNav {
  &_a {
    text-decoration: none;
    display: grid;
    grid-template-columns: 20px auto 20px;
    align-items: center;
    height: 40px;
    padding: 0 16px 0 26px;
    color: $color-black-87;
    // overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    // border-radius: 0 20px 20px 0;
    position: relative;
    &:hover {
      &:before {
        background: $color-black-12;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &_group {
    grid-template-columns: 20px 20px auto 20px;
    padding: 0 16px 0 6px;
  }
  &_active {
    color: $color-primary;
    &:hover {
      &:before {
        background: $color-black-4;
      }
    }
    &:before {
      background: $color-black-4;
      transition: 0.3s;
    }
  }
  &_parent {
    overflow: hidden;
  }
  &_child {
    overflow: hidden;
    padding-left: 6px;
  }
  &_icon {
    $size: 20px;
    font-size: $size;
    width: $size;
    height: $size;
  }
  &_iconArrow {
    $size: 20px;
    font-size: $size;
    width: $size;
    height: $size;
    transition: 0.3s;
    &-rotate {
      transform: rotate(90deg);
    }
  }
  &_text {
    margin-left: 16px;
    .sideNav_parent & {
      color: $color-black-54;
    }
    .sideNav_active & {
      color: $color-primary;
    }
  }
  @media (hover: none) {
    overflow: scroll;
  }
}
