<mat-sidenav-container class="sidenav-container" autosize="true">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1 <span *ngIf="hideText">Link 1 Link 1</span></a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>slideNav</span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()">asd</button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <button (click)="hideText = true">hideText</button>
  </mat-sidenav-content>
</mat-sidenav-container>
